ROOT_FOLDER=/Users/bumzack/stoff/coding/
TARGET_FOLDER=/Users/bumzack/stoff/tmp_duplicates
SKIP_FOLDERS=".git, node_modules, target"
SKIP_FILE_NAMES=""
MIN_FILE_SIZE=1000000
CONSIDER_EXTENSIONS="mov, zip, tar, png, jpg, jpeg"
